<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/create_style.css">
        <meta charset="UTF-8">
        <title>Add A Skill</title>
    </head>

    <body>
        <h1>
            Add A Skill
        </h1>
        <form action="/students/create" method="POST">
            <label for="Name">Name:</label><br><br>
            <input type="text" id="Name" name="Name"><br><br>
            <label for="School">School:</label><br><br>
            <input type="text" id="School" name="School"><br><br><br><br>
            <input type="submit" value="Confirm">
        </form>
    </body>

</html>