<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/create_style.css">
        <meta charset="UTF-8">
        <div style="margin-top: 100px;"></div>
        <title>Add A Skill</title>
        <style>
            #back-button {
                position: absolute;
                top: 500px;
                left: 800px;
            }
        </style>
    </head>

    <body>
        <h1>
            Add A Skill
        </h1>
        <form action="/students/create" method="POST">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name">
            <div style="margin-top: 50px;"></div>
            <label for="School">School:</label>
            <input type="text" id="School" name="School">
            <div style="margin-top: 50px;"></div>
            <div style="display: flex; justify-content: center; align-items: center;">
            <button class="red" type="submit">
                <i class="icon ion-md-lock"></i> Confirm
            </button>
            </div>
        </form>
        <div style="margin-top: 50px;"></div>
        <div style="display: flex; justify-content: center;">
            <img src="/images/EPF_logo_2021.png" alt="Epf logo" style="max-width: 7%; height: auto;">
        </div>
        <button id="back-button" onclick="goBack()">Go back</button>
        <script>
          function goBack() {
              window.history.back();
          }
      </script>
    </body>

</html>