<!DOCTYPE html>
<html>
<head>
  <title>Student Details</title>
  <link rel="stylesheet" href="/student_personal.css">
</head>
<body>
  <div style="margin-top: 100px;"></div>
  <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <h1><%= student.name %></h1>
    <p>School: <%= student.school %></p>
  </div>
</body>
<div style="margin-top: 100px;"></div>
<div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
<button id="toggleFormButton">Update student's info</button>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
  <form id="updateForm" action="" method="post"0 style="display: none;">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= student.name %>">
    <div style="margin-top: 50px;"></div>
    <label for="school">School:</label>
    <input type="text" id="school" name="school" value="<%= student.school %>">
    <input type="hidden" id="studentId" name="studentId">
    <div style="margin-top: 25px;"></div>
    <div style="display: flex; justify-content: center; align-items: center;">
      <button class="red" type="submit">
        <i class="icon ion-md-lock"></i> Confirm
      </button>
    </div>
  </form>
</div>

<div style="margin-top: 50px;"></div>
<div style="display: flex; justify-content: center;">
    <img src="/images/EPF_logo_2021.png" alt="Epf logo" style="max-width: 7%; height: auto;">
</div>
<script>

document.getElementById('toggleFormButton').addEventListener('click', function () {
  const form = document.getElementById('updateForm');
  if (form.style.display === 'none') {
    form.style.display = 'block';
    form.querySelector('#studentId').value = calculateStudentId();
  } else {
    form.style.display = 'none';
  }
});

function calculateStudentId() {
  const url = window.location.href;
  console.log(url);
  const regex = /\/verify\/(\d+)/;
  const match = url.match(regex);
  const studentId = match ? match[1] : '';
  return studentId;
}

const updateForm = document.getElementById('updateForm');

updateForm.addEventListener('submit', function(e) {
  e.preventDefault(); // Prevent the form from submitting in the traditional way
  const studentId = calculateStudentId();
  console.log(studentId);
  const url = "/api/students/" + studentId + "/update";
  console.log(url);
  const data = {
    name: document.getElementById('name').value,
    school: document.getElementById('school').value,
  };

  fetch(url, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    location.reload();
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});
</script>

</html>
